/*changes all the font to Jaldi and background black with white text*/
body {
    font-family: 'Jaldi', sans-serif;
    background: black;
    color: white;
}

/*centers the header and makes a yellow underline*/
header {
    font-size: 50px;
    color: white;
    text-align: center;
    text-decoration: underline yellow;
}

/*makes the name dean orange with italics*/
.dean {
    font-style: italic;
    color: rgb(235, 156, 10);
}

/*centers the links*/
#navlinks  {
    font-size: 20px;
    padding: 14px 20px;
    text-align: center;
}

/*makes the nav links white with no decorations*/
#navlinks a {
    text-decoration: none;
    color: white;
}

/*makes photo oval*/
.photo {
    border-radius: 50%;
}

/*makes all the h2 yellow with an orange underline*/
h2 {
    font-size: 30px;
    color: yellow;
    font-style: italic;
    text-decoration: underline orange;
}
