* {
    box-sizing: border-box;
}

/*changes all the font to Jaldi and background black with white text*/
body {
    font-family: 'Jaldi', sans-serif;
    background: black;
    color: white;
}

/*centers the header and makes a yellow underline*/
header {
    font-size: 100px;
    color: white;
    text-align: center;
    text-decoration: underline yellow;
}

/*makes the name dean orange with italics*/
#dean {
    font-style: italic;
    color: rgb(235, 156, 10);
}

/*centers the links*/
#navlinks  {
    font-size: 20px;
    padding: 14px 20px;
    text-align: center;
}

/*makes the nav links white with no decorations*/
#navlinks a {
    text-decoration: none;
    color: white;
}

/*makes photo oval*/
.photo {
    border-radius: 50%;
}

/*makes all the h2 yellow with an orange underline*/
h2 {
    font-size: 30px;
    color: yellow;
    font-style: italic;
    text-decoration: underline orange;
    margin: 20px 0;
}

/*font size for about me section*/
p{
    font-size: 25px;
}

/*margins and padding for about me*/
#aboutme {
    padding: 10px;
    margin: auto;
}

/*flex for the image and about me section*/
.photoabout {
    display: flex;
}

#firstaside > #aboutme {
    flex: 0 0 15%;
}


#work {
    display: flex;
    padding: 20px;
    margin: 20px;
}

/*puts a border around the project images*/
.work-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    flex-wrap: wrap;
}

article {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
}

.card-one {
    flex: 2 1 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.card-one header {
    padding: 20px;
    background: gray;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.card-one p {
    font-size: small;
}

.card-one img {
    width: 100%;
    min-width: 200px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.card header {
    padding: 20px;
    background: gray;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.card p {
    font-size: small;
}

.card img {
    width: 100%;
    min-width: 200px;
}

/*makes the logo white and bigger*/
footer a {
    text-decoration: none;
    color: white;
    font-size: 60px;
    padding: 30px; 
    text-align: center;  
    display: inline-block;
    justify-content: right; 
}

/*makes the footer stand out from the rest of the website*/
footer {
    background: gray;
    display: flex;
    justify-content: right;
}
 
/*the heading in the footer*/
h3 {
    font-size: 20px;
    color: yellow;
    font-style: italic;
    text-decoration: underline orange;
    margin: 20px 0;
    padding: 20px;
    justify-content: center;
    display: inline-block;
    width: 100%;
    text-align: right;

}

/*back to top hyper link*/
.top {
    font-size: 15px;
    background: lightgrey;
    font-style: italic;
    color: black;
}

/*inline the contact section*/
.contact {
    padding: 20px;
    text-align: right;
    display: inline-block;
    margin: 20px;
}

#contact {
    padding: 20px;
    display: inline-block;    
    text-decoration: none;
    color: white;
    font-size: x-large;

}

/*resume link in contact me section*/
#resume {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

/*makes the line between the contacts yellow*/
#line {
    color: yellow;
}

/* h1 header will be at 75px at 993px or smaller*/
@media screen and (max-width: 993px) {
    header {
        font-size: 75px;
    }
}

/*contact font will be large at 993px or smaller*/
@media screen and (max-width: 993px) {
    #contact,
    #resume {
        font-size: large;
    }
}

/*h1 header will be at 60px at 768px or smaller*/
@media screen and (max-width: 768px) {
    header {
        font-size: 60px;
    }
}

/*conatct font will be medium at 768px or smaller*/
@media screen and (max-width: 768px) {
    #contact,
    #resume {
        font-size: medium;
    }
}






